.common_div_body{
    padding-top: 65px;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.brand_header{
    position: relative;
    padding-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.brand_header h2{
    font-weight: 600;
    font-size: 32px;
    text-transform: capitalize;
    color: #142958;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

.brand_sub_header{
    position: relative;
    padding-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.brand_sub_header h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #142958;
    margin: 0px;
}

.brand_sub_light_header{
    position: relative;
    padding-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.brand_sub_light_header h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #142958;
    margin: 0px;
}

/* button section */
.larg_button , .small_button, .submit_btn, .clear_btn{
    height: 48px;
    border-radius: 6px;
    border: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #2DA77D;
}

.submit_btn{
    width: 162px;
    background: #2DA77D;
    color: #FFFFFF;
    margin-right: 10px;
    box-shadow: 0px 4px 15px rgba(45, 167, 125, 0.2);
}

.clear_btn{
    width: 162px;
    background-color: #FFFFFF;
    color: #2DA77D;
    margin-left: 10px;
}

.larg_button{
    width: 100%;
    background: #2DA77D;
    box-shadow: 0px 4px 15px rgba(45, 167, 125, 0.2);
    color: #FFFFFF;
}

.small_button{
    width: 146px;
    background: #2DA77D;
    box-shadow: 0px 4px 15px rgba(45, 167, 125, 0.2);
    color: #FFFFFF;
}

.small_button img{
    margin-left: 5px;
}
/* end button section */

/* banner conatiner */

.banner_section{
    height: 360px;
    background-repeat: no-repeat;
}

.banner_body_section{
    background: rgba(48, 166, 126, 0.88);
    width: 100%;
    height: 100%;
}

.banner_conatiner{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.per_page_banner_bg .banner_conatiner {
    display: flex;
    align-items: end;
    padding-bottom: 60px;
}

.per_page_banner_bg .banner_conatiner h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* Slick Arrow */
.slider_img_main_box_sec{
    position: relative;
    padding-bottom: 60px;
}

.slider_img_box{
    position: relative;
}

.slick_slider_arrow .slick-arrow{
    position: absolute;
    top: -30px;
    left: initial;
}

.slick_slider_arrow .slick-arrow.slick-prev{
    right: 45px;
}

.slick_slider_arrow .slick-arrow.slick-next{
    right: 15px;
}

.slick_slider_arrow .slick-arrow.slick-prev:after, 
.slick_slider_arrow .slick-arrow.slick-prev:before,
.slick_slider_arrow .slick-arrow.slick-next:after,
.slick_slider_arrow .slick-arrow.slick-next:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    color: #2DA77D;
    background-color: #2DA77D;
}

.slick_slider_arrow .slick-arrow.slick-prev:after{
    transform: rotate(45deg);
    bottom: 6px;
}

.slick_slider_arrow .slick-arrow.slick-prev:before{
    transform: rotate(-45deg);
}

.slick_slider_arrow .slick-arrow.slick-next:after{
    transform: rotate(45deg);
}

.slick_slider_arrow .slick-arrow.slick-next:before{
    transform: rotate(-45deg);
    top: 4px;
}

/* Slick Arrow end*/

/* navbar path container */
.navbar_path_container ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar_path_container ul li{
    list-style: none;
    margin-right: 20px;
    position: relative;
}

.navbar_path_container ul li::after,
.navbar_path_container ul li::before{
    content: "";
    position: absolute;
    right: -10px;
    width: 1px;
    height: 8px;
    color: #142958;
    background-color: #142958;
}

.navbar_path_container ul li:last-child:after,
.navbar_path_container ul li:last-child:before{
    display: none;
}

.navbar_path_container ul li::after{
    transform: rotate(45deg);
    top: 11px;
}

.navbar_path_container ul li::before{
    transform: rotate(-45deg);
    top: 6px;
}

.navbar_path_container ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #142958;
}

.navbar_path_container ul li.active a{
    color: #2DA77D;
}

/* check mark box  */
.check_box_label_cont {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
.check_box_label_cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.check_box_label_cont .checkmark {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    width: 20px;
    height: 20px;
    border: 1px solid #9CA3AF;
    background-color: transparent;
    border-radius: 4px;
}
.check_box_label_cont input:checked ~ .checkmark {
    background-color: #2DA77D;
    border-color: #2DA77D;
}
.check_box_label_cont .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check_box_label_cont input:checked ~ .checkmark:after {
    display: block;
}
  

.check_box_label_cont .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}






@media(max-width: 767px){
    .brand_header h2{
        font-size: 20px;
    }
    .banner_section{
        height: 100px;
    }
    .navbar_path_container{
        padding: 0px 15px;
    }

    .per_page_banner_bg .banner_conatiner{
        padding: 0px 15px 20px 15px;
    }
    .per_page_banner_bg .banner_conatiner h4{
        font-size: 24px;
    }

}