.newsroom_page_banner_bg{
    background-image: url(./../img/newroom_page_banner.png);
    background-size: 100%;
}

.contact_us_conatiner{
    display: flex;
    justify-content: space-between;
}

.contact_us_form_cont{
    width: calc(50% - 20px);
}

.contsct_us_detal_cont{
    width: calc(50% - 20px);
}

.contsct_us_detal_sub_cont{
    max-width: 360px;
    margin: auto;
}

.input_filed_row .form-control{
    background: rgba(217, 217, 217, 0.2);
    border-radius: 6px;
    border: rgba(217, 217, 217, 0.2);
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #767676;
}

.input_filed_row .form-control:focus{
    background: rgba(217, 217, 217, 0.2);
    border-radius: 6px;
    border: rgba(217, 217, 217, 0.2);
    color: #767676;
    outline: none;
    box-shadow: none;
}

.input_filed_row .form-control::placeholder { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #767676;
}
  
.input_filed_row .form-control:-ms-input-placeholder { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #767676;
}
  
.input_filed_row .form-control::-ms-input-placeholder { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #767676;
}

.input_filed_row input{
    height: 48px;
}

.input_filed_row .col-auto{
    width: 50%;
}

.input_filed_row textarea{
    width: 100%;
}

.capcha_validate_cont{
    display: flex;
}

.capcha_validate_cont .check_box_label_cont .checkmark{
    left: -25px;
    right: initial;
}

.contact_btn_sec{

}

.contact_persion_heading_details{

}

.contact_persion_heading_details h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}

.contact_persion_heading_details p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #767676;
    padding-right: 80px;
}

.contact_connect_link_cont{

}

.contact_vi_sms_cont, .contact_vi_call_cont{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact_vi_sms_cont p, .contact_vi_call_cont p{
    margin-bottom: 0px;
}

.contact_vi_sms_cont p a, .contact_vi_call_cont p a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: lowercase;
    color: #000000;
}

.contact_connect_icon_cont{
    width: 40px;
    height: 40px;
    background: #142958;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.conatct_loction_cont img{
    width: 100%;
}




@media(max-width: 767px){
    .contact_us_conatiner{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact_us_form_cont,
    .contsct_us_detal_cont{
        width: 100%;
    }
    .input_filed_row .col-auto{
        width: 100%;
    }
    .contact_persion_heading_details p{
        padding-right: 0px;
    }
}