footer{
    background-color: #363636;
}
/* .footer_main_cont{
    background-color: #363636;
} */

.footer_main_details{
    display: flex;
    height: 310px;
    /* align-items: center; */
    justify-content: space-between;
    padding: 70px 15px 40px 15px;
}

.logo_with_social_icon_cont{

}

.footer_logo_icon .deskop{
    display: block;
}

.footer_logo_icon .mobile{
    display: none;
}

.social_icon__box_cont{
    margin-top: 10px;
}

.social_icon__box_cont ul{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.social_icon__box_cont ul li{
    list-style: none;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}

.social_icon__box_cont ul li:hover{
    background-color: #FFFFFF;
}

.social_icon__box_cont ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.important_link_section{

}

.important_link_section ul{
    padding: 0px;
    margin: 0px;
}

.important_link_section ul li{
    list-style: none;
    margin-bottom: 5px;
    line-height: 40px;
}

.important_link_section ul li a{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.footer_form_section{
    max-width: 390px;
}

.footer_form_section h4{
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.footer_form_section p{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.search_input_form{
    position: relative;
    background-color: #FFFFFF;
    border-radius: 30px;
    height: 56px;
}

.search_input_form input{
    background-color: transparent;
    border: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 60px 0px 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #B1B1B1;
}

.search_input_form input::placeholder { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #B1B1B1;
}
  
.search_input_form input:-ms-input-placeholder { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #B1B1B1;
}
  
.search_input_form input::-ms-input-placeholder { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #B1B1B1;
}

.search_input_form input:focus-visible{
    outline: none;
}

.search_input_form img{
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.search_input_form button{
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #2DA77D;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    border: 0px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.copy_right_cont{
    background-color: #3D3D3D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.copy_right_cont p{
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width: 991px){
    .footer_main_details{
        padding: 20px 15px;
        flex-wrap: wrap;
        height: initial;
    }
    .logo_with_social_icon_cont,
    .important_link_section,
    .footer_form_section{
        width: 100%;
    }
}


@media(max-width: 767px){
    .footer_logo_icon .deskop{
        display: none;
    }
    
    .footer_logo_icon .mobile{
        display: block;
    }
    .important_link_section{
        margin: 40px 0px 30px;
    }
    .search_input_form{
        height: 48px;
    }
    .search_input_form button{
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .copy_right_cont{
        background-color: #363636;
    }
    .copy_right_cont p{
        font-weight: 400;
        font-size: 10px;
    }
}