/* .home_page_top_banner_cont{
    background-image: url(./../img/home_top_banner.png);
} */


.home_page_top_banner_cont .carousel-inner .carousel-item{
    background-image: url(./../img/home_top_banner.png);
}

.carousel_item_box{
    display: flex;
    padding: 0px 40px;
}

.carousel_item_img_box{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.carousel_item_img_box img{
    width: 550px;
}

.carousel_item_text_box{
    flex: 1;
    display: flex;
    align-items: center;
}

.carousel_item_text_box .text_box_details{
    max-width: 585px;
}

.carousel_item_text_box .text_box_details h1{
    font-weight: 600;
    font-size: 48px;
    color: #142958;
    font-family: 'Montserrat', sans-serif;
}

.carousel_item_text_box .text_box_details p{
    font-weight: 400;
    font-size: 16px;
    color: #767676;
    font-family: 'Poppins', sans-serif;
}

.home_page_top_banner_cont .carousel-indicators [data-bs-target]{
    width: 13px;
    height: 8px;
    border: 1px solid #2DA77D;
    border-radius: 10px;
}

.home_page_top_banner_cont .carousel-indicators [data-bs-target].active{
    background-color: #2DA77D;
}


@media(max-width: 767px){
    .carousel_item_box{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 0px 15px;
    }

    .carousel_item_text_box{
        width: 100%;
    }

    .carousel_item_text_box .text_box_details{
        margin-top: 40px;
    }

    .carousel_item_text_box .text_box_details h1{
        font-weight: 700;
        font-size: 18px;
    }

    .carousel_item_text_box .text_box_details p{
        font-weight: 400;
        font-size: 14px;
    }

    .carousel_item_img_box img{
        width: 100%;
    }
    
}

