.newsroom_page_banner_bg{
    background-image: url(./../img/newroom_page_banner.png);
    background-size: 100%;
}

.news_room_per_page_details_cont{
    max-width: 975px;
    margin: auto;
    position: relative;
    padding: 0px 15px;
}

.news_room_per_page_banner_img{
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_room_per_page_details_cont h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #142958;
    margin: 20px 0px;
}

.news_room_per_page_details_cont p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #767676;
}

.news_room_per_page_details_cont p.date_sec{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #B9B9B9;
    display: flex;
    align-items: center;
}

.news_room_per_page_details_cont p.date_sec img{
    margin-right: 5px;
    width: 12px;
    margin-top: -3px;
}

.share_icon_continer{
    width: 71px;
    background: #D9D9D9;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    left: -80px;
    bottom: 90px;
}

.share_icon_continer ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.share_icon_continer ul li:first-child{
    width: initial;
    height: initial;
    background-color: transparent;
    border-radius: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    color: #142958;
}

.share_icon_continer ul li{
    list-style: none;
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border-radius: 6px;
}

.share_icon_continer ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 767px){
    .news_room_per_page_details_cont img{
        width: 100%;
    }
    .news_room_per_page_details_cont h4{
        font-size: 16px;
    }
    .news_room_per_page_details_cont p{
        font-size: 14px;
    }
}