.our_partners .slick-slide{
    margin-right:15px;
}
.blank_box{
    width: 100%;
    height: 98px;
    background: #D9D9D9;
    border-radius: 8px;
}

.blank_box_content{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #142958;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
}